apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: {{ .Values.backendreplicacount}}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: worker
        image: backend:1.0.2
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        env:
        - name: DB_HOST
          value: {{ .Release.Name }}-postgresql
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: {{ .Values.postgresql.auth.username }}
        - name: DB_PASSWORD
          value: {{ .Values.postgresql.auth.password }}
        - name: DB_NAME
          value: {{ .Values.postgresql.auth.database }}
