apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: {{ .Values.backendreplicacount}}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: worker
        image: backend:1.0.2
        imagePullPolicy: {{ .Values.imagePullPolicy }}
