apiVersion: v1
kind: Service
metadata:
  name: ui-service
spec:
  type: {{ .Values.uiServiceType }}
  selector:
    app: ui-deployment
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30000
